/* *{
  margin:0;
  padding:0;
  box-sizing:border-box;
} */

@import "tailwindcss";

body{
  font-family: Arial, sans-serif;
  background:#0b0b0d;
  color:white;
   overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

/* body {
  overflow-x: hidden;
} */